body {
  font-family: 'Rajdhani', sans-serif;
  background-color: white;
  /*text-align: center;*/
}

footer {
  height: 100px;
  background-color: #181818;
}

.banner {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/plexus-7.png');
  padding-bottom: 100px;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

.header-logo {
  width: 100px;
}

.nav-links li {
  display: inline-block;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.nav-link:hover {
  color: red;
}

.intro {
  width: 60%;
}

.intro h1 {
  font-family: 'Archivo', sans-serif;
  display: inline-block;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.intro p {
  /*background-color: rgba(255,255,255,0.1);*/
  background-color: #202020;
  box-shadow: 8px 8px black;
}

.photo {
  height: 300px;
}

.frame span {
  position: absolute;
  top: -60px;
  left: -150px;
}

.frame span img {
  width: 50px;
  position: relative;
  top: 40px;
  right: 100px;
}

.red-highlight {
  color: black;
  padding: 8px;
  background-color: white;
  box-shadow: 8px 8px red;
}

.green-highlight {
  color: black;
  padding: 8px;
  background-color: white;
  box-shadow: -8px 8px #33a777;
}

.handwriting {
  font-family: 'Architects Daughter', cursive;
  color: #8c95a6;
  font-size: 28px;
}

.project-card {
  height: 150px;
  width: 24%;
  border: 1px solid grey;
  border-radius: 5px;
}

.project-card:not(:last-child) {
  margin-right: 1%;
}

#skills {
  background-color: #181818;
  padding: 150px 0;
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 calc(100% - 100px));
}

.skill-card {
  display: inline-block;
  width: 48%;
  height: 50px;
  background-color: rgba(255,255,255,0.2);
}

#references {
  padding: 100px 0;
}

.reference-card {
  border-left: 3px solid black;
  background-color: rgba(0,0,0,0.1);
  padding: 8px 16px;
}

#contact {
  background-color: #181818;
  color:white;
  padding: 100px 0;
  -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
}
